doctype html
html
  head
    title Buy Something
  body
    form      
      input(type='button',formaction='/buy/thingy',formmethod='post',value='Buy a Thingy')
      input(type='button',formaction='/buy/dewberry',formmethod='post',value='Buy a Dewberry')
      input(type='button',formaction='/buy/whatsit',formmethod='post',value='Buy a Whatsit')
