doctype html
html
  head
    title Buy Something
  body
    form
      input(type='submit',formaction='/buy/thingy',formmethod='get',value='Buy a Thingy')
      input(type='submit',formaction='/buy/dewberry',formmethod='get',value='Buy a Dewberry')
      input(type='submit',formaction='/buy/whatsit',formmethod='get',value='Buy a Whatsit')
