doctype html
html
  head
    title Change Password
  body
    if message
      p= message
    form(action='/changepassword',method='post')
      label(for='oldPassword') Old Password
      input(id='oldPassword',name='oldPassword',type='password')
      label(for='newPassword') New Password
      input(id='newPassword',name='newPassword',type='password')
      label(for='newPassword2') Confirm New Password
      input(id='newPassword2',name='newPassword2',type='password')
      input(type='submit',value='Change Password')
