doctype html
html
  head
    title Register
  body
    h1 Register
    if message
      p= message
    form(action='/register',method='post')
      label(for='username') Username
      input(id='username',type='text')
      label(for='password') Password
      input(id='password',type='password')
      label(for='password2') Re-enter Password
      input(id='password2',type='password')
      input(type='submit')
