doctype html
html
  head
    title Register
  body
    h1 Register
    if message
      p= message
    form(action='/register',method='post')
      label(for='firstname') First Name
      input(id='firstname',name='firstname',type='text')
      label(for='surname') Surname
      input(id='surname',name='surname',type='text')
      label(for='username') Username
      input(id='username',name='username',type='text')
      label(for='password') Password
      input(id='password',name='password',type='password')
      label(for='password2') Re-enter Password
      input(id='password2',name='password2',type='password')
      input(type='submit')
