doctype html
html
  head
    title Register
  body
    h1 Register
    if message
      p= message
    form(action='/register',method='post')
      label(for='username') Username
      input(type='text',name='username')
      label(for='password') Password
      input(type='password',name='password')
      label(for='password2') Re-enter Password
      input(type='password',name='password2')
      input(type='submit')
